@model RemoteNewsApiModel

@foreach (var item in Model.Result)
{
    <div class="card mb-3 w-100">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@item.Image" class="card-img" alt="@item.Name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><a href="@item.Url" class="btn btn-info btn-sm">Detaylar</a> </p>
                </div>
            </div>
        </div>
    </div>
}

